
.note-creation-section {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 600px;
    margin: 20px auto 0 auto; 
    position: sticky;
    top: 0;
    z-index: 10; 
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px 20px; 
    margin-top: 20px; 
  }
  
  
  .note-creation-section form {
    display: flex;
    flex-direction: column;
  }
  
  .note-creation-section input[type="text"],
  .note-creation-section textarea {
    border: none;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
  
  .note-creation-section input[type="text"]:focus,
  .note-creation-section textarea:focus {
    outline: none;
    box-shadow: none;
  }
  
  .note-creation-section textarea {
    resize: none; 
  }
  
  .custom-button {
    padding: 8px 16px;
    font-size: 14px;
  }
  
  
  
  .card-container:empty {
    padding: 0;
    min-height: 0; 
  }
  