.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  justify-content: center; /* Centra el contenido en el eje principal */
  align-items: flex-start; /* Centra el contenido en el eje cruzado */
  text-align: center;
  flex-wrap: wrap; /* Esto permitirá múltiples líneas de elementos */
  margin-top: 4.5rem;
}

